<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>KakaoLogin</title>
</head>
<body>
<div class="container" style="display: flex; justify-content: center; align-content: center; align-items: center; flex-direction: column; margin: 200px auto; ">
  <a href="https://kauth.kakao.com/oauth/authorize?client_id=231b50a8a0f1a755fb79ac44a527b81c&redirect_uri=http://localhost:8080/login/oauth2/kakao&response_type=code">
    <img th:src="@{/img/kakao_login_medium_narrow.png}" style="width:150px; height:40px;">
  </a>
</div>
</body>
</html>
